@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* RESET */

* {
    margin: 0;
    padding: 0;
    border: none;
    vertical-align:baseline;
    list-style:none;
    box-sizing: border-box;
}

body {
    background-color: #242323;
    color: #00EB00;
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

#title {
    font-size: 70px;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    margin-top: 3px;
}
hr{
    background-color: #00EB00;
    height: 10px;
    margin-top: 2px;
}
canvas {
    border-style: dotted;
    margin: 10px;
    height: 73vh;
 
}

