@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* RESET */

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-color: #242323;
    font-size: 5em;
    color: #00EB00;
    height: 100vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
#title {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#score {
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
hr{
    background-color: #00EB00;
    height: 10px;
    margin-top: 7px;
}
canvas {
    border-style: dotted;
    margin: 15px;
}

